{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}

  <div class="row p-5">
    <div class="col-lg-6 offset-lg-3 my-5">
      <div class="card p-5">
        <div class="card-body">
          <h2>Log in</h2>
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Log in" class="btn btn-primary btn-block">
          </form>
          <p>Forgot password? <a href="{% url 'password_reset' %}">Reset it</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
