@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --tidy-blue-dark: #5084F8;
  --tidy-blue-light: #6693f8;
  --tidy-blue-deep: #240088;
  --tidy-green: #43B581;
  --tidy-black: #33363A;
  --tidy-darkest: #4F5660;
  --tidy-dark: #747F8D;
  --tidy-medium: #D4D7DD;
  --tidy-light: #E3E5E8;
  --tidy-lightest: #F2F3F5;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--tidy-black);
}

p {
  color: var(--tidy-darkest);
}

.color-blue {
  color: var(--tidy-blue-dark);
}

.jumbotron-nav {
  background: var(--tidy-lightest);
}

.jumbotron-splash {
  background: white;
}

a, .btn-link {
  color: var(--tidy-blue-dark);
}

a:hover, .btn-link:hover {
  color: var(--tidy-blue-light);
  text-decoration: none;
}

a.navbar-brand, a.navbar-brand:hover {
  font-weight: 300;
  font-size: 1.5em;
  color: var(--tidy-black);
}

.brand {
  font-weight: 300;
  font-size: 1.3em;
}

nav a {
  color: var(--tidy-dark);
}

nav a:hover {
  color: var(--tidy-darkest);
}

button.navbar-toggler {
  background: var(--tidy-darkest);
}

.title {
  font-size: 3em;
}

.subtitle {
  font-weight: 300;
}

.btn {
  border: none;
}

.btn-primary {
  background: var(--tidy-blue-dark);
}

.btn-primary:hover {
  background: var(--tidy-blue-light);
}

.btn-secondary {
  background: var(--tidy-light);
  color: var(--tidy-darkest);
}

.btn-secondary:hover {
  background: var(--tidy-lightest);
  color: var(--tidy-darkest);
}

.btn:not(:disabled):not(.disabled).btn-text {
  cursor: default;
  color: var(--tidy-black);
}

footer {
  background: var(--tidy-black);
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: var(--tidy-medium);
}
