{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="jumbotron jumbotron-fluid jumbotron-splash pt-3 pb-5 m-0 border-bottom">

    <div class="container">

      <div class="row text-center">

          <div class="col-lg-10 offset-lg-1 mt-5 pt-5">
            <h1 class="title">The #1 electronic log book</h1>
          </div>

          <div class="col-lg-8 offset-lg-2 my-5">

            <h4 class="subtitle mb-5">TidyLog is a simple, functional electronic log book that takes care of regulation compliance <i>and</i> improves operations.</h4>

            <p>
              <a class="btn btn-primary" href="{% url 'signup' %}" role="button">Get started</a>
              <span class="ml-2"><a class="btn btn-secondary" href="#" role="button">Learn more</a></span>
            </p>

          </div>

      </div>

    </div>

  </div>

  <div class="jumbotron jumbotron-fluid bg-white m-0">

    <div class="container">

      <div class="card-deck">
        <div class="card border-0">
          <div class="card-body">
            <h5 class="card-title">Regulation compliance</h5>
            <p class="card-text">TidyLog takes care of making sure your electronic log book complies with all regulations.</p>
            <p class="card-text">We update TidyLog to maintain compliance over time&mdash;seamlessly updating your application&mdash;so you don't have to.</p>

          </div>
          <div class="card-footer bg-white border-0">
            <a href="#" class="btn btn-secondary">Learn more</a>
          </div>
        </div>
        <div class="card border-0">
          <div class="card-body">
            <h5 class="card-title">Functionality</h5>
            <p class="card-text">TidyLog has been developed from the ground up to be extremely user-friendly and empowering to users and organizations.</p>
            <p class="card-text">TidyLog has features that turn your log books into effective tracking, communication, and accountability tools.</p>

          </div>

          <div class="card-footer bg-white border-0">
            <a href="#" class="btn btn-secondary">Learn more</a>
          </div>
        </div>
      </div>

      <div class="mt-5 text-center">
        <a class="btn btn-primary" href="{% url 'signup' %}" role="button">Get started</a>
      </div>

    </div>

  </div>

{% endblock %}
