{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="jumbotron jumbotron-fluid jumbotron-splash py-3">

    <div class="container">

      <div class="row text-center">

          <div class="col-lg-10 offset-lg-1 mt-5 pt-5">
            <h1 class="title">The #1 electronic log book</h1>
          </div>

          <div class="col-lg-8 offset-lg-2 my-5">

            <h4 class="subtitle mb-5">TidyLog is a simple, functional electronic log book that takes care of regulation compliance <i>and</i> improves operations.</h4>

            <p><a class="btn btn-primary" href="{% url 'signup' %}" role="button">Get started</a></p>

            <p><a class="btn btn-secondary" href="{% url 'signup' %}" role="button">Learn more</a></p>

          </div>

      </div>

    </div>

  </div>

{% endblock %}
