{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="jumbotron jumbotron-fluid bg-white m-0">

    <div class="container">

      <div class="my-5 pb-5">

        <h5 class="color-blue mb-3">Pricing</h5>

        <h1>Simple monthly pricing</h1>

      </div>

      <div class="row">

        <div class="col-8">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Number of users</th>
                <th scope="col">Monthly price</th>
                <th scope="col">Additional users</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>50</td>
                <td>$1,350</td>
                <td>+ $297 <small class="text-muted">per 10</small></td>
              </tr>
              <tr>
                <td>100</td>
                <td>$2,200</td>
                <td>+ $242 <small class="text-muted">per 10</small></td>
              </tr>
              <tr>
                <td>200</td>
                <td>$3,400</td>
                <td>+ $187 <small class="text-muted">per 10</small></td>
              </tr>
              <tr>
                <td>500</td>
                <td>$6,500</td>
                <td>+ $143 <small class="text-muted">per 10</small></td>
              </tr>
              <tr>
                <td>1,000</td>
                <td>$11,000</td>
                <td>+ $121 <small class="text-muted">per 10</small></td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div>

  </div>

{% endblock %}
