{% extends 'app/base.html' %}

{% load static %}

{% load templatetags %}

{% load crispy_forms_tags %}

{% block title %}Logs{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">

    <div class="col-2 col-area p-2 fixed-top overflow-auto h-100">
      <!-- <p class="text-center"><small>AREAS</small></p> -->
      {% for area in areas %}
        {% if view.kwargs.area_pk == area.pk %}
          <a href="{% url 'app:area' area.pk %}" class="btn btn-link btn-block active sidebarnav" role="button">{{ area }}</a>
        {% else %}
          <a href="{% url 'app:area' area.pk %}" class="btn btn-link btn-block sidebarnav" role="button">{{ area }}</a>
        {% endif %}
      {% empty %}
        <div class="text-center">No areas to display</div>
      {% endfor %}

      <div class="border-top mt-4 pt-4">
        <div class="btn-group dropdown btn-block">
          <button type="button" class="btn btn-link dropdown-toggle mt-2 sidebarnav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </button>
          <div class="dropdown-menu">
            {% comment %}<span class="dropdown-item-text">{{ user.email }}</span>{% endcomment %}
            <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
          </div>
        </div>
        <a href="#" class="btn btn-link btn-block sidebarnav" role="button">Settings</a>
      </div>

    </div>

    <div class="col-2 col-log p-2 offset-2 fixed-top overflow-auto h-100">

      <!-- <p class="text-center"><small>LOGS</small></p> -->
      {% for log in logs %}
        {% now "Y" as current_year %}
        {% now "m" as current_month %}
        {% now "d" as current_day %}

        {% if view.kwargs.log_pk == log.pk %}
          <a href="{% url 'app:log' area.pk log.pk %}" class="btn btn-link btn-block active sidebarnav" role="button">{{ log }}</a>
        {% else %}
          <a href="{% url 'app:log' area.pk log.pk %}" class="btn btn-link btn-block sidebarnav" role="button">{{ log }}</a>
        {% endif %}
      {% empty %}
        <div class="text-center">No logs to display</div>
      {% endfor %}

    </div>



    <div class="col-8 col-entry offset-4 fixed-top">

      <div class="row p-2 border-bottom">

        <div>

          <a class="btn btn-primary" href="{% url 'app:log_daily' area_pk=area.pk log_pk=log.pk year=view.kwargs.year month=view.kwargs.month day=view.kwargs.day acknowledgements=True %}" role="button"><i class="fas fa-angle-left"></i> Back</a>

        </div>

      </div>

    </div>


    <div class="col-8 col-entry pt-5 mt-2 ml-auto">

      <div class="row pt-2">

        <div class="col-6 px-2">

          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Acknowledge" class="btn btn-primary btn-block">
          </form>

        </div>

      </div>

    </div>


    <div class="modal" id="change_status" tabindex="-1" role="dialog" aria-labelledby="change_status_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="change_status_label">Change status</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form method="post">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Status</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Unresolved</option>
                  <option>In progress</option>
                  <option>Resolved</option>
                </select>
              </div>
              <input type="submit" value="Submit" disabled class="btn btn-primary btn-block">
              <button type="button" class="btn btn-link btn-block mt-3" data-dismiss="modal">Cancel</button>
            </form>

          </div>
          <!-- <div class="modal-footer">

            <input type="submit" value="Submit" class="btn btn-primary btn-block">
          </div> -->
        </div>
      </div>
    </div>


</div>
{% endblock %}
