{% extends 'app/base.html' %}

{% load static %}

{% block title %}Logs{% endblock %}

{% block content %}
<div class="container-fluid h-100">
  <div class="row h-100">

    <div class="col-2 col-area p-1">
      {% for area in areas %}
        <a href="{% url 'app:area' area.pk %}" class="btn btn-link btn-block sidebarnav" role="button">{{ area }}</a>
      {% endfor %}
      <hr>
      <div class="btn-group dropright btn-block">
        <button type="button" class="btn btn-link dropdown-toggle sidebarnav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </button>
        <div class="dropdown-menu">
          <span class="dropdown-item-text">{{ user.email }}</span>
          <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
        </div>
      </div>
      <a href="{% url 'admin:index' %}" class="btn btn-link btn-block sidebarnav" role="button">Settings</a>
    </div>

    <div class="col-2 col-log p-1">
      {% for log in logs %}
        <a href="{% url 'app:log' log.area.pk log.pk %}" class="btn btn-link btn-block sidebarnav" role="button">{{ log }}</a>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}
