{% extends 'app/base.html' %}

{% load static %}

{% block title %}Logs{% endblock %}

{% block content %}
<div class="col-2 col-area p-2 fixed-top overflow-auto h-100">
  <!-- <p class="text-center"><small>AREAS</small></p> -->
  {% for area in areas %}
    {% if view.kwargs.area_pk == area.pk %}
      <a href="{% url 'app:area' area.pk %}" class="btn btn-link btn-block active sidebarnav" role="button">{{ area }}</a>
    {% else %}
      <a href="{% url 'app:area' area.pk %}" class="btn btn-link btn-block sidebarnav" role="button">{{ area }}</a>
    {% endif %}
  {% empty %}
    No areas to display
  {% endfor %}

  <div class="border-top mt-4 pt-4">
    <div class="btn-group dropdown btn-block">
      <button type="button" class="btn btn-link dropdown-toggle mt-2 sidebarnav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
      </button>
      <div class="dropdown-menu">
        {% comment %}<span class="dropdown-item-text">{{ user.email }}</span>{% endcomment %}
        <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
        <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
      </div>
    </div>
    <a href="#" class="btn btn-link btn-block sidebarnav" role="button">Settings</a>
  </div>

</div>
{% endblock %}
