{% extends 'app/base.html' %}

{% load static %}

{% block title %}Logs{% endblock %}

{% block content %}
<div class="container-fluid h-100">
  <div class="row h-100">

    <div class="col-1 col-area p-2 fixed-top overflow-auto h-100">
      <!-- <p class="text-center"><small>AREAS</small></p> -->
      {% for area in areas %}
        <a href="{% url 'app:area' area.pk %}" class="btn btn-link btn-block sidebarnav" role="button">{{ area }}</a>
      {% empty %}
        No areas to display
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}
