{% extends 'app/base.html' %}

{% load static %}

{% load templatetags %}

{% load crispy_forms_tags %}

{% block title %}Logs{% endblock %}

{% block content %}
<div class="container-fluid h-100">
  <div class="row h-100">

    <div class="col-3">

      <div class="row h-100">

        <div class="col col-area p-2">
          <!-- <p class="text-center"><small>AREAS</small></p> -->
          {% for area in areas %}
            <a href="{% url 'app:area' area.pk %}" class="btn btn-link btn-block sidebarnav" role="button">{{ area }}</a>
          {% endfor %}
          <hr>
          <div class="btn-group dropright btn-block">
            <button type="button" class="btn btn-link dropdown-toggle sidebarnav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
            <div class="dropdown-menu">
              <span class="dropdown-item-text">{{ user.email }}</span>
              <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            </div>
          </div>
          <a href="#" class="btn btn-link btn-block sidebarnav" role="button">Settings</a>
        </div>

        <div class="col col-log p-2">
          <!-- <p class="text-center"><small>LOGS</small></p> -->
          {% for log in logs %}
            <a href="{% url 'app:log' log.area.pk log.pk %}" class="btn btn-link btn-block sidebarnav" role="button">{{ log }}</a>
          {% endfor %}
        </div>

      </div>

    </div>

    <div class="col-7 col-entry py-2 px-4">
      <div class="tools mb-3">
        <!-- {% comment %}<h2>Current area: {{ area.name }}</h2>
        <h2>Current log: {{ log.name }}</h2>{% endcomment %} -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add entry</button>
        <!-- <input type="text" id="myInput" onkeyup="myFunction()"  placeholder="Search"> -->
        <!-- Filter by date -->
      </div>
      <table class="table" id="myTable">
        <thead>
          <tr>
            <th scope="col"><b>Date/time</b></th>
            <th scope="col"><b>Category</b></th>
            {% for field in fields %}
              <th scope="col"><b>{{ field.name }}</b></th>
            {% endfor %}
            <th scope="col"><b>Employee</b></th>
          </tr>
        </thead>
        <tbody>
          {% for entry in entries %}
            <tr id="table_rows">
                <td>{{ entry.created_at }}</td>
                <td>{{ entry.category }}</td>
                {% for field in fields %}
                  <td>{{ entry|get_obj_attr:field.type }}</td>
                {% endfor %}
                <td>{{ entry.user }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New entry</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit" class="btn btn-primary btn-block">
                <button type="button" class="btn btn-link btn-block mt-3" data-dismiss="modal">Cancel</button>
              </form>

            </div>
            <!-- <div class="modal-footer">

              <input type="submit" value="Submit" class="btn btn-primary btn-block">
            </div> -->
          </div>
        </div>
      </div>

    </div>

    <div class="col-2 col-acknowledge p-2">
      <!-- <p class="text-center"><small>ACKNOWLEDGEMENTS</small></p> -->
      <div class="btn-group dropdown btn-block">
        <button type="button" class="btn btn-link dropdown-toggle sidebarnav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Unit lead
        </button>
        <div class="dropdown-menu">
          <!-- <a href="#" class="btn btn-primary btn-block" role="button">Acknowledge</a> -->
          <a class="dropdown-item" href="#">Acknowledge</a>
        </div>
      </div>
      <div class="btn-group dropdown btn-block">
        <button type="button" class="btn btn-link dropdown-toggle sidebarnav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Superintendent
        </button>
        <div class="dropdown-menu">
          <!-- <a href="#" class="btn btn-primary btn-block" role="button">Acknowledge</a> -->
          <a class="dropdown-item" href="#">Acknowledge</a>
        </div>
      </div>
      <div class="btn-group dropdown btn-block">
        <button type="button" class="btn btn-link dropdown-toggle sidebarnav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Engineering
        </button>
        <div class="dropdown-menu">
          <!-- <a href="#" class="btn btn-primary btn-block" role="button">Acknowledge</a> -->
          <a class="dropdown-item" href="#">Acknowledge</a>
        </div>
      </div>
      <div class="btn-group dropdown btn-block">
        <button type="button" class="btn btn-link dropdown-toggle sidebarnav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          New shift
        </button>
        <div class="dropdown-menu">
          <!-- <a href="#" class="btn btn-primary btn-block" role="button">Acknowledge</a> -->
          <a class="dropdown-item" href="#">Acknowledge</a>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}
