{% extends 'app/base.html' %}

{% load static %}

{% load templatetags %}

{% load crispy_forms_tags %}

{% block title %}Logs{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">

    <!-- <div class="col-3"> -->

      <!-- <div class="row h-100"> -->

        <div class="col-1 col-area p-2 fixed-top overflow-auto h-100">
          <!-- <p class="text-center"><small>AREAS</small></p> -->
          {% for area in areas %}
            <a href="{% url 'app:area' area.pk %}" class="btn btn-link btn-block sidebarnav" role="button">{{ area }}</a>
          {% empty %}
            No areas to display
          {% endfor %}
        </div>

        <div class="col-2 col-log p-2 offset-1 fixed-top overflow-auto h-100">

          <!-- <p class="text-center"><small>LOGS</small></p> -->
          {% for log in logs %}
            <a href="{% url 'app:log' log.area.pk log.pk %}" class="btn btn-link btn-block sidebarnav" role="button">{{ log }}</a>
          {% empty %}
            No logs to display
          {% endfor %}

          <div class="border-top mt-2">
            <div class="btn-group dropdown btn-block">
              <button type="button" class="btn btn-link dropdown-toggle mt-2 sidebarnav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </button>
              <div class="dropdown-menu">
                {% comment %}<span class="dropdown-item-text">{{ user.email }}</span>{% endcomment %}
                <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              </div>
            </div>
            <a href="#" class="btn btn-link btn-block sidebarnav" role="button">Settings</a>
          </div>

        </div>

      <!-- </div> -->

    <!-- </div> -->

    <div class="col-9 col-entry offset-3 fixed-top">

      <div class="row p-2 shadow-sm">

        <!-- {% comment %}<h2>Current area: {{ area.name }}</h2>
        <h2>Current log: {{ log.name }}</h2>{% endcomment %} -->
        <!-- <div class="col p-0"> -->
          <div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_entry">Add entry</button>
          </div>
        <!-- </div> -->
        <!-- <div class="col p-0"> -->
          {% comment %}{{ view.kwargs.year }}{% endcomment %}
          <div class="pl-2">
            <div class="btn-group" role="group" aria-label="Basic example">
              <a type="button" class="btn btn-secondary" href="{% url 'app:log' area.pk log.pk %}">All dates</a>
              {% now "Y" as current_year %}
              {% now "m" as current_month %}
              {% now "d" as current_day %}
              <a type="button" class="btn btn-secondary" href="{% url 'app:log_1_day' area.pk log.pk current_year current_month current_day %}">1 day</a>
              <a type="button" class="btn btn-secondary" href="{% url 'app:log_date_range'  area.pk log.pk 2020 07 09 2020 07 10 %}"">Date range</a>
            </div>
          </div>
        <!-- </div> -->

          <div class="pl-2">
            {% if url_name == 'log_1_day' %}
              <span class="btn btn-text">{{ view.kwargs.year }}-{{ view.kwargs.month|stringformat:"02d" }}-{{ view.kwargs.day|stringformat:"02d" }}</span>
              <a type="button" class="btn btn-secondary" href="{% url 'app:log_1_day' area.pk log.pk view.kwargs.year view.kwargs.month view.kwargs.day|add:'-1' %}"><i class="fas fa-angle-left"></i></a>
              <a type="button" class="btn btn-secondary" href="{% url 'app:log_1_day' area.pk log.pk view.kwargs.year view.kwargs.month view.kwargs.day|add:'1' %}"><i class="fas fa-angle-right"></i></a>
            {% endif %}
          </div>


        <!-- <input type="text" id="myInput" onkeyup="myFunction()"  placeholder="Search"> -->
        <!-- Filter by date -->
        <!-- <div class="col p-0 text-right"> -->
          <div class="ml-auto">
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acknowledgements
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Unit lead</button>
                <button class="dropdown-item" type="button">Superintendent</button>
                <button class="dropdown-item" type="button">Engineering</button>
                <button class="dropdown-item" type="button">New shift</button>
              </div>
            </div>
          </div>
        <!-- </div> -->

      </div>

    </div>

    <div class="col-9 col-entry p-2 mt-5 ml-auto">

      <table class="table" id="myTable">
        <thead>
          <tr>
            <th scope="col">Date/time</th>
            <th scope="col">Category</th>
            {% for field in fields %}
              <th scope="col">{{ field.name }}</th>
            {% endfor %}
            <th scope="col">Employee</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in entries %}
            <tr id="table_rows">
                <td>{{ entry.created_at }}</td>
                <td>{{ entry.category }}</td>
                {% for field in fields %}
                  <td>{{ entry|get_object_attribute:field.type }}</td>
                {% endfor %}
                <td>{{ entry.user }}</td>
            </tr>
          {% empty %}
            <tr id="table_rows">
              <td>No entries</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="modal" id="add_entry" tabindex="-1" role="dialog" aria-labelledby="add_entry_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="add_entry_label">New entry</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit" class="btn btn-primary btn-block">
                <button type="button" class="btn btn-link btn-block mt-3" data-dismiss="modal">Cancel</button>
              </form>

            </div>
            <!-- <div class="modal-footer">

              <input type="submit" value="Submit" class="btn btn-primary btn-block">
            </div> -->
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
{% endblock %}
