<td class="align-text-bottom">{% extends 'app/base.html' %}

{% load static %}

{% load templatetags %}

{% load crispy_forms_tags %}

{% block title %}Logs{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">

    <!-- <div class="col-3"> -->

      <!-- <div class="row h-100"> -->

        <div class="col-2 col-area p-2 fixed-top overflow-auto h-100">
          <!-- <p class="text-center"><small>AREAS</small></p> -->
          {% for area in areas %}
            {% if view.kwargs.area_pk == area.pk %}
              <a href="{% url 'app:area' area.pk %}" class="btn btn-link btn-block active sidebarnav" role="button">{{ area }}</a>
            {% else %}
              <a href="{% url 'app:area' area.pk %}" class="btn btn-link btn-block sidebarnav" role="button">{{ area }}</a>
            {% endif %}
          {% empty %}
            <div class="text-center">No areas to display</div>
          {% endfor %}

          <div class="border-top mt-4 pt-4">
            <div class="btn-group dropdown btn-block">
              <button type="button" class="btn btn-link dropdown-toggle mt-2 sidebarnav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </button>
              <div class="dropdown-menu">
                {% comment %}<span class="dropdown-item-text">{{ user.email }}</span>{% endcomment %}
                <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              </div>
            </div>
            <a href="#" class="btn btn-link btn-block sidebarnav" role="button">Settings</a>
          </div>

        </div>

        <div class="col-2 col-log p-2 offset-2 fixed-top overflow-auto h-100">

          <!-- <p class="text-center"><small>LOGS</small></p> -->
          {% for log in logs %}
            {% now "Y" as current_year %}
            {% now "m" as current_month %}
            {% now "d" as current_day %}

            {% if view.kwargs.log_pk == log.pk %}
              <a href="{% url 'app:log' area.pk log.pk %}" class="btn btn-link btn-block active sidebarnav" role="button">{{ log }}</a>
            {% else %}
              <a href="{% url 'app:log' area.pk log.pk %}" class="btn btn-link btn-block sidebarnav" role="button">{{ log }}</a>
            {% endif %}
          {% empty %}
            <div class="text-center">No logs to display</div>
          {% endfor %}

        </div>

      <!-- </div> -->

    <!-- </div> -->

    <div class="col-8 col-entry offset-4 fixed-top">

      <div class="row p-2 border-bottom">

        <div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_entry">Add entry</button>
        </div>

        <div class="pl-2">
          <input class="form-control" id="search_input" type="text" placeholder="Search">
        </div>

        <div class="pl-2">
          <div class="btn-group" role="group" aria-label="Basic example">
            <a type="button" class="btn btn-secondary" href="{% url 'app:log' area.pk log.pk %}">All dates</a>
            {% now "Y" as current_year %}
            {% now "m" as current_month %}
            {% now "d" as current_day %}
            <a type="button" class="btn btn-secondary" href="{% url 'app:log_daily' area.pk log.pk current_year current_month current_day %}">Daily</a>
            {% comment %}<a type="button" class="btn btn-secondary" href="{% url 'app:log_date_range'  area.pk log.pk 2020 06 01 2020 07 30 %}"">Date range</a>{% endcomment %}
          </div>
        </div>

        <div class="pl-2">
          {% if url_name == 'log_daily' %}
            {% if view.kwargs.acknowledgements %}
              <a type="button" class="btn btn-secondary" href="{% url 'app:log_daily' area_pk=area.pk log_pk=log.pk year=date_remove|date:'Y' month=date_remove|date:'m' day=date_remove|date:'d' acknowledgements=True %}"><i class="fas fa-angle-left"></i></a>
              <a type="button" class="btn btn-secondary" href="{% url 'app:log_daily' area_pk=area.pk log_pk=log.pk year=date_add|date:'Y' month=date_add|date:'m' day=date_add|date:'d' acknowledgements=True %}"><i class="fas fa-angle-right"></i></a>
            {% else %}
              <a type="button" class="btn btn-secondary" href="{% url 'app:log_daily' area_pk=area.pk log_pk=log.pk year=date_remove|date:'Y' month=date_remove|date:'m' day=date_remove|date:'d' acknowledgements=False %}"><i class="fas fa-angle-left"></i></a>
              <a type="button" class="btn btn-secondary" href="{% url 'app:log_daily' area_pk=area.pk log_pk=log.pk year=date_add|date:'Y' month=date_add|date:'m' day=date_add|date:'d' acknowledgements=False %}"><i class="fas fa-angle-right"></i></a>
            {% endif %}
            <span class="btn btn-text">{{ view.kwargs.year }}-{{ view.kwargs.month|stringformat:"02d" }}-{{ view.kwargs.day|stringformat:"02d" }}</span>
          {% endif %}
        </div>


        <div class="ml-auto">
          {% with request.resolver_match.url_name as url_name %}

            {% comment %}{% if url_name == "log" %}
              {% if view.kwargs.acknowledgements %}
                <a type="button" class="btn btn-secondary" href="{% url 'app:log' area_pk=area.pk log_pk=log.pk acknowledgements=False %}">Acknowledgements <i class="fas fa-angle-up"></i></a>
              {% else %}
                <a type="button" class="btn btn-secondary" href="{% url 'app:log' area_pk=area.pk log_pk=log.pk acknowledgements=True %}">Acknowledgements <i class="fas fa-angle-down"></i></a>
              {% endif %}{% endcomment %}
            {% if url_name == "log_daily" %}
              {% if view.kwargs.acknowledgements %}
                <a type="button" class="btn btn-secondary" href="{% url 'app:log_daily' area_pk=area.pk log_pk=log.pk year=view.kwargs.year month=view.kwargs.month day=view.kwargs.day acknowledgements=False %}">Acknowledgements <i class="fas fa-angle-up"></i></a>
              {% else %}
                <a type="button" class="btn btn-secondary" href="{% url 'app:log_daily' area_pk=area.pk log_pk=log.pk year=view.kwargs.year month=view.kwargs.month day=view.kwargs.day acknowledgements=True %}">Acknowledgements <i class="fas fa-angle-down"></i></a>
              {% endif %}
            {% elif url_name == "log_date_range" %}
              {% if view.kwargs.acknowledgements %}
                <a type="button" class="btn btn-secondary" href="{% url 'app:log_date_range' area_pk=area.pk log_pk=log.pk year_start=view.kwargs.year_start month_start=view.kwargs.month_start day_start=view.kwargs.day_start year_end=view.kwargs.year_end month_end=view.kwargs.month_end day_end=view.kwargs.day_end acknowledgements=False %}">Acknowledgements <i class="fas fa-angle-up"></i></a>
              {% else %}
                <a type="button" class="btn btn-secondary" href="{% url 'app:log_date_range' area_pk=area.pk log_pk=log.pk year_start=view.kwargs.year_start month_start=view.kwargs.month_start day_start=view.kwargs.day_start year_end=view.kwargs.year_end month_end=view.kwargs.month_end day_end=view.kwargs.day_end acknowledgements=True %}">Acknowledgements <i class="fas fa-angle-down"></i></a>
              {% endif %}
            {% endif %}

          {% endwith %}
        </div>

      </div>

    </div>

    <div class="col-8 col-entry pt-5 ml-auto">

      {% if view.kwargs.acknowledgements %}

        <div class="row row-acknowledgements pt-3">

          <div class="col">

            <div class="row row-acknowledgement">
              <div class="col-4">
                <span class="font-weight-bold">Unit lead</span> {% if unit_lead_acknowledgements %}<span class="text-success">Acknowledged</span>{% else %}<span class="text-secondary">Not acknowledged</span>{% endif %}
              </div>
              <div class="col-8">
                {% if unit_lead_acknowledgements %}
                  {% for acknowledgement in unit_lead_acknowledgements %}
                    <p>{{ acknowledgement.created_at }}</p>
                    {% for field in unit_lead_acknowledgement_fields %}
                      <p><span class="font-weight-bold">{{ field.name }}</span><br>
                        {{ acknowledgement|get_object_attribute:field.type }}</p>
                    {% endfor %}
                  {% endfor %}
                {% else %}
                  <p>
                    {% if user|has_group:"Unit lead" %}
                      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_acknowledgement">Acknowledge</button>
                    {% else %}
                      &mdash;
                    {% endif %}
                  </p>
                {% endif %}
              </div>
            </div>

            <div class="row row-acknowledgement">
              <div class="col-4">
                <span class="font-weight-bold">Superintendent</span> {% if superintendent_acknowledgements %}<span class="text-success">Acknowledged</span>{% else %}<span class="text-secondary">Not acknowledged</span>{% endif %}
              </div>
              <div class="col-8">
                {% if superintendent_acknowledgements %}
                  {% for acknowledgement in superintendent_acknowledgements %}
                    <p>{{ acknowledgement.created_at }}</p>
                    {% for field in superintendent_acknowledgement_fields %}
                      <p><span class="font-weight-bold">{{ field.name }}</span><br>
                        {{ acknowledgement|get_object_attribute:field.type }}</p>
                    {% endfor %}
                  {% endfor %}
                {% else %}
                  <p>
                    {% if user|has_group:"Superintendent" %}
                      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_acknowledgement">Acknowledge</button>
                    {% else %}
                      &mdash;
                    {% endif %}
                  </p>
                {% endif %}
              </div>
            </div>

            <div class="row row-acknowledgement">
              <div class="col-4">
                <span class="font-weight-bold">Engineering</span> {% if engineering_acknowledgements %}<span class="text-success">Acknowledged</span>{% else %}<span class="text-secondary">Not acknowledged</span>{% endif %}
              </div>
              <div class="col-8">
                {% if engineering_acknowledgements %}
                  {% for acknowledgement in engineering_acknowledgements %}
                    <p>{{ acknowledgement.created_at }}</p>
                    {% for field in engineering_acknowledgement_fields %}
                      <p><span class="font-weight-bold">{{ field.name }}</span><br>
                        {{ acknowledgement|get_object_attribute:field.type }}</p>
                    {% endfor %}
                  {% endfor %}
                {% else %}
                  <p>
                    {% if user|has_group:"Engineering" %}
                      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_acknowledgement">Acknowledge</button>
                    {% else %}
                      &mdash;
                    {% endif %}
                  </p>
                {% endif %}
              </div>
            </div>

            <div class="row row-acknowledgement">
              <div class="col-4">
                <span class="font-weight-bold">New shift</span> {% if new_shift_acknowledgements %}<span class="text-success">Acknowledged</span>{% else %}<span class="text-secondary">Not acknowledged</span>{% endif %}
              </div>
              <div class="col-8">
                {% if new_shift_acknowledgements %}
                  {% for acknowledgement in new_shift_acknowledgements %}
                    <p>{{ acknowledgement.created_at }}</p>
                    {% for field in new_shift_acknowledgement_fields %}
                      <p><span class="font-weight-bold">{{ field.name }}</span><br>
                        {{ acknowledgement|get_object_attribute:field.type }}</p>
                    {% endfor %}
                  {% endfor %}
                {% else %}
                  <p>
                    {% if user|has_group:"Operator" %}
                      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_acknowledgement">Acknowledge</button>
                    {% else %}
                      &mdash;
                    {% endif %}
                  </p>
                {% endif %}
              </div>
            </div>

          </div>

        </div>


        <div class="modal" id="add_acknowledgement" tabindex="-1" role="dialog" aria-labelledby="add_acknowledgement_label" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="add_acknowledgement_label">Acknowledgement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form method="post">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Acknowledgement comments</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <input type="submit" value="Submit" disabled class="btn btn-primary btn-block">
                  <button type="button" class="btn btn-link btn-block mt-3" data-dismiss="modal">Cancel</button>
                </form>

              </div>
              <!-- <div class="modal-footer">

                <input type="submit" value="Submit" class="btn btn-primary btn-block">
              </div> -->
            </div>
          </div>
        </div>

      {% endif %}

      <div class="row pt-2">

        <div class="col px-2">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Date/time</th>
                <th scope="col">Category</th>
                {% for field in fields %}
                  <th scope="col">{{ field.name }}</th>
                {% endfor %}
                <th scope="col">Employee</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody id="search_table">
              {% for entry in entries %}
                <tr id="table_rows">
                    <td class="align-text-bottom">{{ entry.created_at }}</td>
                    <td class="align-text-bottom">{{ entry.category }}</td>
                    {% for field in fields %}
                      <td class="align-text-bottom">{{ entry|get_object_attribute:field.type }}</td>
                    {% endfor %}
                    <td class="align-text-bottom">{{ entry.user.first_name }} {{ entry.user.last_name }}</td>
                    <td class="align-text-bottom">
                      {% if entry.category.is_tracked %}
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#change_status">{{ entry.get_status_display }} <i class="far fa-edit"></i></button>
                      {% else %}
                        &mdash;
                      {% endif %}
                    </td>
                </tr>
              {% empty %}
                <tr id="table_rows">
                  <td class="align-text-bottom">No entries to display for the date selected</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>

      </div>






      <div class="modal" id="change_status" tabindex="-1" role="dialog" aria-labelledby="change_status_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="change_status_label">Change status</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form method="post">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Status</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Unresolved</option>
                    <option>In progress</option>
                    <option>Resolved</option>
                  </select>
                </div>
                <input type="submit" value="Submit" disabled class="btn btn-primary btn-block">
                <button type="button" class="btn btn-link btn-block mt-3" data-dismiss="modal">Cancel</button>
              </form>

            </div>
            <!-- <div class="modal-footer">

              <input type="submit" value="Submit" class="btn btn-primary btn-block">
            </div> -->
          </div>
        </div>
      </div>


      <div class="modal" id="add_entry" tabindex="-1" role="dialog" aria-labelledby="add_entry_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="add_entry_label">New entry</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit" class="btn btn-primary btn-block">
                <button type="button" class="btn btn-link btn-block mt-3" data-dismiss="modal">Cancel</button>
              </form>

            </div>
            <!-- <div class="modal-footer">

              <input type="submit" value="Submit" class="btn btn-primary btn-block">
            </div> -->
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
{% endblock %}
