{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Signup{% endblock %}

{% block content %}

  <div class="row p-5 m-0">
    <div class="col-lg-6 offset-lg-3 my-5">
      <div class="card p-5">
        <div class="card-body">

          <h2 class="mb-4">Get started</h2>
          <h4 class="color-blue mb-4">Submitted</h4>
          <p>Thanks for requesting access to TidyLog.</p>
          <p>We will get in touch with you soon.</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}
